* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container bg-dark min-vh-100 d-flex 
justify-content-center align-items-center */
.container {
  width: 420px;
}

input {
    border-radius: 20px;
}

container h1{
    font-size: 36px;
    text-align: center;
}